
.aside .logo a{
    border: 2px solid #2196f3;
}

.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span, 
.aside .copyright-text, 
body.dark .aside .logo a,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .logo a,
.aside .nav li a:hover,
.aside .nav li a.active{ 
    color: #2196f3;
} 
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span:before,
.aside .nav-toggler span:after,
.home .intro .social-links a{
    background-color: #2196f3;
}