
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

/* General style */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
body {
        margin: 0;
        line-height: 1.5;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400; 
}
::before, ::after {
    box-sizing: border-box;
}
input,textarea,select {
    font-family: 'Montserrat', sans-serif;
}
.section {
    background-color: #f2f2fc; 
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.section.back-section{
    z-index: 1;
}
.section.active{
    opacity: 1;
    z-index: 2;
    -webkit-animation: slideSection 1s ease;
    animation: slideSection 1s ease;
}
@-webkit-keyframes slideSection{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes slideSection{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
} 
.section-title{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: #302e4d;
    font-weight: 500;
    margin: 0;
    position: relative;
} 
.section-title h2::before{
    content: "";
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: "";
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.main-content {
    padding-left: 270px;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48,46,77,0.15);
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
/* Aside */
.aside {
    width: 270px;
    background-color: #fdf9ff;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    border-right: 1px solid #e8dfec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
} 
.aside .aside-inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}
.aside .logo {
    cursor: pointer;
}
.aside .logo a{
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    /* color: #302e4d; */
    padding-top: 9px;
    text-align: center;
    letter-spacing: -5px;
    line-height: 50px;
    font-size: 40px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    /* border: 2px solid #302e4d; */
    font-weight: 300;
    text-transform: uppercase;
}
.aside .nav {
    list-style: none;
    margin: 80px 0;
    padding: 0;
}
.aside .nav li{
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    color: #302e4d;
    text-decoration: none;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    -webkit-transition: all 0,3s ease;
    transition: all 0,3s ease;
    text-transform: capitalize;
}

.aside .nav li a:not(.active):hover{
    padding-left: 5px;
} 
.aside .nav li a .fas,
.aside .nav li a .fa{
    margin: 6px;
}
.aside .copyright-text {   
    font-size: 13px;
    /* color: #7d7d7d; */
    margin-top: -45px;
}
.section {
    background-color: #f2f2fc; 
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about .about-content .school-info{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}
.about .about-content .school-info .info-item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}
.about .about-content .school-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #302e4d;
    margin: 0;
    border-bottom: 1px solid #e8dfec;
}
.about .about-content .school-info .info-item p span{
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}